<div class="">
  <table>
    <thead>
      <tr>
        <th>---Name---</th>
        <th>---Description---</th>
        <th>---Price---</th>
        <th>---Quantity---</th>        
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.quantity %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'new product', new_product_path %><br>
  <%= link_to 'home', root_path %>
</div>
