<h2><%= @product.name %></h2>
<ul>
  <li>Description: <%= @product.description %></li>
  <li>Price: <%= @product.price %></li>
  <li>Quantity: <%@product.quantity %></li>
  <li>Hinh Anh: <%= image_tag @product.avatar_url.to_s %></li>
  <% if @product.reviews.any? %>
    <li>Average Rating: <%= @product.aggregate_rating %></li>
  <% end %>
</ul>

<h4>Reviews for <%= @product.name %></h4>
<% if @product.reviews.any? %>
  <ul id ='reviews_of_product_<%= @product.id %>'>
      <% @product.reviews.order(:updated_at).reverse.each do |review| %>
      <li><% review.rating.times do %>
        <span class="star">★</span>
        <% end %>
        <% (5 - review.rating).times do %>
        <span class="out-of">★</span>
        <% end %>
        <a href="<%= product_review_path(@product, review) %>">
          <%= truncate(review.content, :length => 30) %>
        </a>
      </li>

      <ul id ='comments_of_review_<%= review.id %>'>
        <% review.comments.each do |comment| %>
          <li>
            <p><%= comment.user.email %> :<%= comment.body %></p>
          </li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <%= render 'comments/form', review: review %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if user_signed_in? %>
  <%= render 'reviews/form' %>
<% end %>

<hr>
<ul class="sub-links">
  <li><%= link_to "Return to products", products_path %></li>
</ul>
