<h2><%= @product.name %></h2>
<ul>
  <li>Description: <%= @product.description %></li>
  <li>Price: <%= @product.price %></li>
  <li>Quantity: <%@product.quantity %></li>
  <li>Hinh Anh: <%= image_tag @product.avatar_url.to_s %></li>
  <li>
    <strong>Avg rating </strong>
    <span id="aggregate_rating">
      <% if @product.reviews.any? %>
      <%= @product.aggregate_rating %>
      <% end %>
    </span>
  </li>
</ul>


<% if @product.reviews.any? %>
  <div id='reviews'>
      <% @product.reviews.order(:updated_at).reverse.each do |review| %>
      <div id= "review_item_<%= review.id %>">
      <ul id ='comments_of_review_<%= review.id %>'>
        <% review.comments.each do |comment| %>
          <li>
            <p><%= comment.user.email %> :<%= comment.body %></p>
          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <%= render 'comments/form', review: review, comment: @comment%>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= render 'reviews/form' %>
<% end %>

<hr>
<ul class="sub-links">
  <li><%= link_to "Return to products", products_path %></li>
</ul>
