<h2>New Review for <%= @product.name %></h2>
<%= form_for [@product, @review] do |f| %>
  <%= f.label :content, "Write comment" %>
  <%= f.text_area :content %>
  <%= f.label :rating, "Rate this product" %>
  <%= f.select(:rating, options_for_select([
    ["1", 1],
    ["2", 2],
    ["3", 3],
    ["4", 4],
    ["5", 5]
    ])) %>
  <%= f.submit "Submit Review" %>
<% end %>
